@import '../../styles/colours.scss';
@import '../../styles/mixins.scss';
@import '../../styles/sizes.scss';

.select-component {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    font-size: map-get($fontSize, 'small');

    &.show {
        span {
            &:after {
                @include transform(180deg);
            }
        }

        .choices {
            visibility: visible;
        }
    }

    .selected {
        border: 2px solid $primary;
        padding: 2px 10px;
        box-sizing: border-box;
        text-transform: capitalize;

        &:after {
            display: inline-block;
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            right: 5px;
            margin-top: -10px;
            background-image: url("/icons/chevron-down.svg");
            background-repeat: no-repeat;
            background-size: 13px auto;
            background-position: center;
        }
    }

    .choices {
        border: 2px solid $primary;
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: -2px;
        display: flex;
        flex-direction: column;
        background-color: $secondary;
        z-index: 100;
        visibility: hidden;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            max-height: 300px;
            overflow: auto;
            overflow-x: hidden;
            scrollbar-color: transparent transparent;
            scrollbar-width: thin;

            &:hover, &:focus-within {
                scrollbar-color: $primary transparent;
            }

            &.overflowing {
                li { 
                    padding-right: 0px;
                }
            }

            li {
                padding: 2.5px 10px;
                display: flex;
                cursor: pointer;
                text-transform: capitalize;

                &:hover, &:focus {
                    background-color: $primary;
                    color: $secondary;
                }
            }
        }
    }
}