@import '../../styles/sizes.scss';

.vehicleDetails {
    width: 100%;
    border: none;
    border-collapse: collapse;

    tr {
        td {
            border: 0;
            white-space: nowrap;
            height: 50px;
            vertical-align: middle;
            text-align: left;
            padding: 0 20px;
            font-size: map-get($fontSize, 'regularPlus');


            &:first-child {
                padding-left: 0;
            }


            &:last-child {
                width: 99%;
            }
        }
    }
}

.changeOwnerForm {
    display: grid;
    grid-template-columns: max-content 1fr;
    row-gap: 20px;
    column-gap: 10px;
    align-items: center;
}