@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import './styles/colours.scss';
@import './styles/sizes.scss';

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: map-get($fontWeight, 'regular');
  font-size: map-get($fontSize, 'regular');
  color: $primary;
  line-height: 1.5em;

  h1 {
    font-weight: map-get($fontWeight, 'semiBold');
    font-size: map-get($fontSize, 'heading');
  }

  h2 {
    font-weight: map-get($fontWeight, 'semiBold');
    font-size: map-get($fontSize, 'heading');
  }

  button {
    border: 2px solid $primary;
    color: $secondary;
    background-color: $primary;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    padding: 10px 25px;
    cursor: pointer;

    &:hover {
      color: $primary;
      background-color: $secondary;
    }

    &.secondary {
      color: $primary;
      background-color: $secondary;

      &:hover {
        color: $secondary;
        background-color: $primary;
      }
    }
  }

  label {
    font-weight: map-get($fontWeight, 'semiBold');
    font-size: map-get($fontSize, 'regularPlus');
  }

  input[type="text"],
  input[type="password"] {
      border: 2px solid $primary;
      font-size: inherit;
      font-weight: inherit;
      color: $primary;
      padding: 10px;
  }
}